<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/films/deleteFilm" method="post">
    <input name="id" type="text" aria-label="Name" class="form-control" placeholder="Name" th:value="${film.id}" readonly>
    <input name="title" type="text" aria-label="Title" class="form-control" placeholder="Name" th:value="${film.title}">
    <input name="rating" type="text" aria-label="Rating" class="form-control" placeholder="Rating" th:value="${film.rating}">
    <input name="age" type="text" aria-label="Age" class="form-control" placeholder="Age" th:value="${film.age}">
    <button class="btn btn-success" type="submit">Add</button>
</form>

</body>
</html>