<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<h1>Hello, world!</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Rating</th>
        <th scope="col">Age</th>
        <th scope="col">Action-buttons</th>
<!--        thymeleaf сгенерировал бы отсутствующие-->
    </tr>
    </thead>
    <tbody id="forAdd">

<!--    <tr th:each="film : ${films}">-->
<!--        <td th:text="${film.id}"></td>-->
<!--        <td th:text="${film.title}"></td>-->
<!--        <td th:text="${film.rating}"></td>-->
<!--        <td th:text="${film.age}"></td>-->
<!--        <a class="btn btn-primary" th:href="@{'/films/editFilm?id='+${film.id}}">Изменить</a>-->
<!--        <a class="btn btn-primary" th:href="@{'/films/deleteFilm?id='+${film.id}}">Удалить</a>-->
<!--    </tr>-->
    </tbody>


</table>
<button class="btn-btn primary" onclick="test()">CLICK TO MAKE AJAX REQUEST</button>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script type="application/javascript" src="/js/oldFilms.js"></script>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><! -- что и для чего-->
    Запустить модальное окно
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input id="title" type="text" placeholder="Type product name">
                <input id="rating" type="number" placeholder="Type rating">
                <input id="age" type="number" placeholder="Type age">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addFilm()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="edit-modal" data-target="#editModal">
    Редактировать
</button>

<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="edit-modal" id="editModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
<input id="id-edit" readonly>
                <input id="id-title" type="text" placeholder="Type product name">
                <input id="id-rating" type="number" placeholder="Type rating">
                <input id="id-age" type="number" placeholder="Type age">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addFilm()">Save changes</button>
            </div>
        </div>
    </div>
</div>



</body>
</html>